*{
	margin: 0px;
	padding: 0px;
}
.centerText{
	text-align: center;
}

#captcha{
	margin-top: 10px;
}

@keyframes spin {
  	100% {transform: rotate(1turn); }
}


/* Navigation Styling */

body#navigation{

	nav#navbar{
		margin: 0px;
		padding: 0px;
		border: none; 
		border-radius: 0px;
		background-color: rgb(29,35,31);
		height: 75px;

		.navbar-brand{
			color: ghostwhite;
		}

		p.brand_subtitle{
			font-size: 10px;
			color: ghostwhite;
			margin-top: -5px;
		}

		ul{
			li{
				a{
					color: ghostwhite;
				}
			}
		}
		ul.dropdown-menu{
			background-color: rgb(29,35,31);
			border: none;

			li{
				background-color: rgb(29,35,31);
			}
		}
		a.dropdown-toggle{
			background-color: rgb(29,35,31);
		}
		a:hover{
			background-color: rgb(29,35,31);
			color: rgb(93,142,191);

			p{
				background-color: rgb(29,35,31);
				color: rgb(93,142,191);
			}
		}
	}

	div#signInTab{
		padding: 5px;
	}
	form#signInForm{
		padding: 10px;
		
		label{
			color: ghostwhite;
		}
		input#signInBtn{
			background-color: rgb(29,35,31);
			width: 100%;
		}
	}
}


/* Landing Page Styling */


section#attention_grab{
	padding-top: 50px;
	min-height: 200px;
	background-color: rgb(71,96,94);
	/*background-color: rgb(15,15,25);*/

	figure#sign{
			text-align: center;
			margin-bottom: 25px;

			img#cavalon_sign{
				border: 8px inset rgb(29,35,31);
				position: center;
				overflow: none;
				width: 80%;
				max-width: 500px;
			}
		}


	div#cavalon_welcome{
		text-align: center;

		div#welcome_message{
			padding: 0px 50px 50px 50px;
			color: ghostwhite;
			font-size: 16px;
		}
		div#cavalon_building_image{
			overflow: hidden;
			img{
				border: 8px inset rgb(29,35,31);
				margin-bottom: 50px;
			}
		}
	}
}
section#cavalon_tenants{
	min-height: 400px;
	/*background-color: rgb(87,140,134);*/
	background-color: rgb(41,70,69);
	padding: 50px;

	h2{
		color: ghostwhite;
		font-family: lobster;
		text-decoration: underline;
		margin-bottom: 25px;
	}
	figure.tenant_logos:hover{
		animation: swing 2s linear infinite;
	}

	figure{
		vertical-align: top;
		width: 200px;
		height: 200px;
		/*border: 1px solid white;*/
		display: inline-block;
		margin: 10px 10px 10px 40px;

		img#evergreen_homeloans{
			margin-top: 50px;
			margin-bottom: 40px;
			padding-bottom: 10px;
			padding-top: 10px;
			padding-left: 5px;
			padding-right: 5px;
			background-color: white;
		}
		img#oral_surgery{
			margin-bottom: 40px;
		}
		img#pnwt{
			margin-left: 50px;
			margin-bottom: 30px;
			margin-top: 10px;
		}
		img#dalewalters{
			margin-left: 4px;
			margin-bottom: 25px;
		}
		img#scottstewart{
			margin-bottom: 40px;
			margin-left: 25px;
			margin-top: 10px;
		}
		img#paclab{
			margin-bottom: 40px;
			margin-left: 5px;
			margin-top: 18px;
			
		}
		img#renalremission{
			border-radius: 50%;
			margin-left: 25px;
		}
		img#doctors_clinic{
			margin-left: 35px;
		}
		img#FGS{
			margin-left: 9px;
			margin-top: 10px;
			margin-bottom: 32px;
		}
		img#kyle_kincaid{
			margin-left: 10px;
			margin-top: 20px;
			margin-bottom: 41px;
		}
		img#big_sky{
			margin-left: 30px;
			margin-top: 10px;
			margin-bottom: 20px;
		}
		figcaption{
			text-align: center;
			margin-top: 15px;
			color: ghostwhite;
		}
	}
}

section#available_space_cta{
	background-color: rgb(87,140,134);
	/*background-color: rgb(15,15,25);*/
	min-height: 300px;
	padding: 50px;
	font-size: 16px;
	color: ghostwhite;

	h2{
		font-family: Abril;
		text-align: center;

	}
	a{
		h2{
			color: ghostwhite;
		}
	}
	a:hover{
		text-decoration: none;

		h2{
			color: blue;
		}
	}
	h2#join_us{
		width: 100%;
		text-align: center;
		height: 75px;
		padding-top: 25px;

		i.glyphicon-hand-right{
			margin-right: 15px;
			vertical-align: bottom;
			color: blue;
  			animation: rubberBand 2s linear infinite;
			
		}
		i.glyphicon-hand-left{
			margin-left: 15px;
			vertical-align: bottom;
			color: blue;
 			animation: rubberBand 2s linear infinite;
		}
	}
}

section#google_maps{
	 
	 div#map_canvas{
        width: 100%;
        height: 400px;
    }
}

/* Available Space Styling */

section#available_space_headline{
	background-image: url("/assets/images/olympic_mts.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 500px;

	h2{
		text-align: center;
		color: ghostwhite;
		font-family: lobster;
		margin-top: 50px;
	}
}
section#available_space_plans{
	background-color: rgb(41,70,69);
	height: 400px;
}
section#available_space_inquiry{
	background-color: rgb(87,140,134);
	min-height: 350px;
	padding-top: 25px;
	padding-bottom: 25px;
	
	label{
		padding: 0px;
	}

	.border-white {
	  	margin-left: 28px;
	  	border: 3px solid rgb(3,0,251);
	  	color: rgb(3,0,251);
	  	background-color: white;
	  	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
	  	-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
	  	-ms-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
	  	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
	}

	.border-white:hover {
	  	background-color: rgb(3,0,251);
	  	border: 3px solid ghostwhite;
	  	color: ghostwhite;
	}

	.btn {
	  	font-weight: 600;
	  	letter-spacing: 0px;
	  	font-family: 'Raleway', sans-serif;
	  	font-size: 12px;
	  	text-transform: uppercase;
	}

	.btn-lg {
	  	padding: 14px 28px 13px 28px;
	  	font-size: 13px;
	  	font-weight: 700;
	}


	h2{
		text-align: center;
		font-family: abril;
		color: ghostwhite;
	}
	h3{
		text-align: center;
		font-family: abril;
		color: ghostwhite;
	}



	/*form{
		text-align: center;
		margin-top: 25px;
		div.form_lineup{
			display: inline-block;
			vertical-align: top;
		}
		input{
			display: block;
			height: 35px;
			border-radius: 20px;
			font-family: abril;
			font-size: 18px;
			margin-top: 5px;
			width: 350px;
			padding-left: 10px;
			border: 3px solid rgb(3,0,251);

		}
		textarea{
			margin-top: 5px;
			width: 350px;
			height: 115px;
			border: 3px solid rgb(3,0,251);
			border-radius: 20px;
			display: block;
			padding-left: 10px;
			font-size: 18px;
			font-family: abril;
		}
		input:focus {
 		   outline:none;
		}
		button:focus{
			outline: none;
		}
		textarea:focus{
			outline: none;
		}
		button{
			margin-top: 25px;
			font-size: 18px;
			height: 35px;
			width: 200px;
			font-family: abril;
			border-radius: 20px;
			background-color: blue;
			border: 3px solid lightblue;
			color: ghostwhite;
		}
		/*input#inquiry_name{
			width: 250px;
			padding-left: 10px;
			border: 3px solid rgb(3,0,251);
		}
		input#inquiry_email{
			width: 250px;
			padding-left: 10px;
			border: 3px solid rgb(3,0,251);
		}
		input#inquiry_company{
			width: 250px;
			padding-left: 10px;
			border: 3px solid rgb(3,0,251);
		}
		input#inquiry_submit{
			width: 75px;
		}
	}*/
	div.message{
		text-align: center;
		font-family: abril;
		color: ghostwhite;
		margin-top: 50px;

		h5{
			font-size: 22px;
		}
	}
	div#map-canvas{
		height: 400px;
		width: 100%;
	}
}



/* Photos Form Styling */
section#photo_form{

	img{
		margin-left: -78%;
	}

	label{
		padding: 0px;
	}

	.border-white {
	  	margin-left: 28px;
	  	border: 3px solid rgb(3,0,251);
	  	color: rgb(3,0,251);
	  	background-color: white;
	  	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
	  	-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
	  	-ms-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
	  	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
	}

	.border-white:hover {
	  	background-color: rgb(3,0,251);
	  	border: 3px solid ghostwhite;
	  	color: ghostwhite;
	}

	.btn {
	  	font-weight: 600;
	  	letter-spacing: 0px;
	  	font-family: 'Raleway', sans-serif;
	  	font-size: 12px;
	  	text-transform: uppercase;
	}

	.btn-lg {
	  	padding: 14px 28px 13px 28px;
	  	font-size: 13px;
	  	font-weight: 700;
	}


	h2{
		text-align: center;
		font-family: abril;
		color: ghostwhite;
	}
	h3{
		text-align: center;
		font-family: abril;
		color: ghostwhite;
	}

}

/* Contact Us Styling */

section#contact-section{
	padding-top: 75px;
	background-color: rgb(41,70,69);
	color: ghostwhite;


    .border-white {
	  	margin-left: 28px;
	  	border: 3px solid rgb(3,0,251);
	  	color: rgb(3,0,251);
	  	background-color: white;
	  	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
	  	-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
	  	-ms-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
	  	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
	}

	.border-white:hover {
	  	background-color: rgb(3,0,251);
	  	border: 3px solid white;
	  	color: ghostwhite;
	}

	.btn {
	  	font-weight: 600;
	  	letter-spacing: 0px;
	  	font-family: 'Raleway', sans-serif;
	  	font-size: 12px;
	  	text-transform: uppercase;
	}

	.btn-lg {
	  	padding: 14px 28px 13px 28px;
	  	font-size: 13px;
	  	font-weight: 700;
	}

    div#map-canvas{
        width: 100%;
        height: 300px;
        margin-top: 50px;
    }
    input{
    	font-family: abril;
    }
}


/* Google Maps Styling */
section.google_maps{
	div#map_canvas{
		width: 100%;
		height: 400px;
	}
}

/* Photos Styling */
section#photos{
	min-height: 600px;
	text-align: center;
	
	figure{
		margin: 25px;
		/*padding: 5px;*/
		display: inline-block;
		/*border: 2px solid white;*/
		border-radius: 5px;
		height: 315px;
		width: 465px;

		img{
			border: 2px solid ghostwhite;
			padding: 5px;
		}
	}

	.project_tab_div{
		min-height: 400px;
		
	}

	.tabs .arrow {
	  position: absolute;
	  width: 0;
	  height: 0;
	  border-left: 12px solid transparent;
	  border-right: 12px solid transparent;
	  border-bottom: 10px solid rgb(149,191,189);
	  top: -3px;
	  -webkit-transform: rotate(180deg);     /* Chrome and other webkit browsers */
	  -moz-transform: rotate(180deg);        /* FF */
	  -o-transform: rotate(180deg);          /* Opera */
	  -ms-transform: rotate(180deg);         /* IE9 */
	  transform: rotate(180deg);
	  transition: all 0.3s ease;
	}
	.tabs ul {
	  width: 100%;
	  box-sizing: border-box;
	  margin: 0;
	  padding: 0;
	  list-style: none;
	}
	.tabs ul li {
	  font-weight: bold;
	  /*color: rgb(212,212,212);*/
	  color: ghostwhite;
	  font-size: 24px;
	  background-color: rgb(41,70,69);
	  text-align: center;
	  float: left;
	  padding: 16px 0;
	  box-sizing: border-box;
	  display: inline-block;
	  width: 25%;
	}
	.tabs ul li.active {
	  border-bottom: 3px solid rgb(149,191,189);
	  color: ghostwhite;
	}
	.tabs ul {
	  color: #000;
	  text-decoration: none;
	}
	.tabs #tab-container {
	  /*padding-top: 25px;*/
	  position: relative;
	  min-height: 600px;
	  background-color: rgb(61,61,61);
	  clear: both;
	}
	.tabs .tab-content {		
	  padding: 25px;
	  display: none;
	}
}

section#photo_form{
	text-align: center;
	background-color: rgb(87,140,134);
	min-height: 400px;
	margin-top: -20px;
	padding: 50px;

	h2.glyphicon_header{
		margin-left: 10px;
		margin-right: 10px;
		color: ghostwhite;
		display: inline-block;
	}

	h2{
		
		
		color: ghostwhite;
		padding-top: 5px;
		display: inline-block;
	}
	h3{
		margin-top: 15px;
		
		color: ghostwhite;
	}
}

/* Footer Styling */

footer{
	height: 75px;
	background-color: rgb(29,35,31);

	ul{
		list-style-type: none;
		margin-left: 75px;
		li{
			display: inline-block;
			color: ghostwhite;
			padding-top: 28px;
		}
		li#contact_us{
			margin-right: 100px;
			display: inline-block;
			color: ghostwhite;
			padding-top: 28px;
			a{
				color: ghostwhite;
			}
		}
	}
}