*{margin:0;padding:0}body#navigation div#signInTab{padding:5px}section#google-maps div#map-canvas{width:100%;height:300px;margin-top:50px}
/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
