/* Navigation Styling */
* {
  margin: 0px;
  padding: 0px;
}
.centerText {
  text-align: center;
}
#captcha {
  margin-top: 10px;
}
/* Navigation Styling */
body#navigation nav#navbar {
  margin: 0px;
  padding: 0px;
  border: none;
  border-radius: 0px;
  background-color: #1d231f;
  height: 75px;
}
body#navigation nav#navbar .navbar-brand {
  color: ghostwhite;
}
body#navigation nav#navbar p.brand_subtitle {
  font-size: 10px;
  color: ghostwhite;
  margin-top: -5px;
}
body#navigation nav#navbar ul li a {
  color: ghostwhite;
}
body#navigation nav#navbar ul.dropdown-menu {
  background-color: #1d231f;
  border: none;
}
body#navigation nav#navbar ul.dropdown-menu li {
  background-color: #1d231f;
}
body#navigation nav#navbar a.dropdown-toggle {
  background-color: #1d231f;
}
body#navigation nav#navbar a:hover {
  background-color: #1d231f;
  color: #5d8ebf;
}
body#navigation nav#navbar a:hover p {
  background-color: #1d231f;
  color: #5d8ebf;
}
body#navigation div#signInTab {
  padding: 5px;
}
/* Landing Page Styling */
section#attention_grab {
  padding-top: 50px;
  min-height: 200px;
  background-color: #47605e;
  /*background-color: rgb(15,15,25);*/

}
section#attention_grab figure#sign {
  text-align: center;
  margin-bottom: 25px;
}
section#attention_grab figure#sign img#cavalon_sign {
  border: 8px inset #1d231f;
  position: center;
  overflow: none;
  width: 80%;
  max-width: 500px;
}
section#attention_grab div#cavalon_welcome {
  text-align: center;
}
section#attention_grab div#cavalon_welcome div#welcome_message {
  padding: 0px 50px 50px 50px;
  color: ghostwhite;
  font-size: 16px;
}
section#attention_grab div#cavalon_welcome div#cavalon_building_image {
  overflow: hidden;
}
section#attention_grab div#cavalon_welcome div#cavalon_building_image img {
  border: 8px inset #1d231f;
  margin-bottom: 50px;
}
section#cavalon_tenants {
  min-height: 400px;
  /*background-color: rgb(87,140,134);*/

  background-color: #294645;
  padding: 50px;
}
section#cavalon_tenants h2 {
  color: ghostwhite;
  font-family: lobster;
  text-decoration: underline;
  margin-bottom: 25px;
}
section#cavalon_tenants figure {
  vertical-align: top;
  width: 200px;
  height: 200px;
  /*border: 1px solid white;*/

  display: inline-block;
  margin: 10px 10px 10px 40px;
}
section#cavalon_tenants figure img#evergreen_homeloans {
  margin-top: 50px;
  margin-left: 5px;
  margin-bottom: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: white;
}
section#cavalon_tenants figure img#pnwt {
  margin-left: 50px;
  margin-bottom: 1px;
}
section#cavalon_tenants figure img#dalewalters {
  margin-bottom: 25px;
}
section#cavalon_tenants figure img#scottstewart {
  margin-left: 25px;
  margin-top: 10px;
}
section#cavalon_tenants figure img#paclab {
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 8px;
}
section#cavalon_tenants figure img#renalremission {
  border-radius: 50%;
  margin-left: 25px;
}
section#cavalon_tenants figure img#doctors_clinic {
  margin-left: 35px;
}
section#cavalon_tenants figure figcaption {
  text-align: center;
  margin-top: 15px;
  color: ghostwhite;
}
section#available_space_cta {
  background-color: #578c86;
  /*background-color: rgb(15,15,25);*/

  min-height: 300px;
  padding: 50px;
  font-size: 16px;
  color: ghostwhite;
}
section#available_space_cta h2 {
  font-family: Abril;
  text-align: center;
}
section#available_space_cta a h2 {
  color: ghostwhite;
}
section#available_space_cta a:hover {
  text-decoration: none;
}
section#available_space_cta a:hover h2 {
  color: blue;
}
section#available_space_cta h2#join_us {
  width: 100%;
  text-align: center;
  height: 75px;
  padding-top: 25px;
}
section#available_space_cta h2#join_us i.glyphicon-hand-right {
  margin-right: 15px;
  vertical-align: bottom;
}
section#available_space_cta h2#join_us i.glyphicon-hand-left {
  margin-left: 15px;
  vertical-align: bottom;
}
section#google_maps div#map_canvas {
  width: 100%;
  height: 400px;
}
/* Available Space Styling */
section#available_space_headline {
  background-image: url("/assets/images/olympic_mts.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 500px;
}
section#available_space_headline h2 {
  text-align: center;
  color: ghostwhite;
  font-family: lobster;
  margin-top: 50px;
}
section#available_space_plans {
  background-color: #294645;
  height: 400px;
}
section#available_space_inquiry {
  background-color: #578c86;
  min-height: 350px;
  padding-top: 25px;
  padding-bottom: 25px;
  /*form{
		text-align: center;
		margin-top: 25px;
		div.form_lineup{
			display: inline-block;
			vertical-align: top;
		}
		input{
			display: block;
			height: 35px;
			border-radius: 20px;
			font-family: abril;
			font-size: 18px;
			margin-top: 5px;
			width: 350px;
			padding-left: 10px;
			border: 3px solid rgb(3,0,251);

		}
		textarea{
			margin-top: 5px;
			width: 350px;
			height: 115px;
			border: 3px solid rgb(3,0,251);
			border-radius: 20px;
			display: block;
			padding-left: 10px;
			font-size: 18px;
			font-family: abril;
		}
		input:focus {
 		   outline:none;
		}
		button:focus{
			outline: none;
		}
		textarea:focus{
			outline: none;
		}
		button{
			margin-top: 25px;
			font-size: 18px;
			height: 35px;
			width: 200px;
			font-family: abril;
			border-radius: 20px;
			background-color: blue;
			border: 3px solid lightblue;
			color: ghostwhite;
		}
		/*input#inquiry_name{
			width: 250px;
			padding-left: 10px;
			border: 3px solid rgb(3,0,251);
		}
		input#inquiry_email{
			width: 250px;
			padding-left: 10px;
			border: 3px solid rgb(3,0,251);
		}
		input#inquiry_company{
			width: 250px;
			padding-left: 10px;
			border: 3px solid rgb(3,0,251);
		}
		input#inquiry_submit{
			width: 75px;
		}
	}*/

}
section#available_space_inquiry label {
  padding: 0px;
}
section#available_space_inquiry .border-white {
  margin-left: 28px;
  border: 3px solid #0300fb;
  color: #0300fb;
  background-color: white;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}
section#available_space_inquiry .border-white:hover {
  background-color: #0300fb;
  border: 3px solid ghostwhite;
  color: ghostwhite;
}
section#available_space_inquiry .btn {
  font-weight: 600;
  letter-spacing: 0px;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}
section#available_space_inquiry .btn-lg {
  padding: 14px 28px 13px 28px;
  font-size: 13px;
  font-weight: 700;
}
section#available_space_inquiry h2 {
  text-align: center;
  font-family: abril;
  color: ghostwhite;
}
section#available_space_inquiry h3 {
  text-align: center;
  font-family: abril;
  color: ghostwhite;
}
section#available_space_inquiry div.message {
  text-align: center;
  font-family: abril;
  color: ghostwhite;
  margin-top: 50px;
}
section#available_space_inquiry div.message h5 {
  font-size: 22px;
}
section#available_space_inquiry div#map-canvas {
  height: 400px;
  width: 100%;
}
/* Contact Us Styling */
section#contact-section {
  padding-top: 75px;
  background-color: #294645;
  color: ghostwhite;
}
section#contact-section .border-white {
  margin-left: 28px;
  border: 3px solid #0300fb;
  color: #0300fb;
  background-color: white;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}
section#contact-section .border-white:hover {
  background-color: #0300fb;
  border: 3px solid white;
  color: ghostwhite;
}
section#contact-section .btn {
  font-weight: 600;
  letter-spacing: 0px;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}
section#contact-section .btn-lg {
  padding: 14px 28px 13px 28px;
  font-size: 13px;
  font-weight: 700;
}
section#contact-section div#map-canvas {
  width: 100%;
  height: 300px;
  margin-top: 50px;
}
section#contact-section input {
  font-family: abril;
}
/* Google Maps Styling */
section.google_maps div#map_canvas {
  width: 100%;
  height: 400px;
}
/* Photos Styling */
section#photos {
  min-height: 600px;
}
section#photos .project_tab_div {
  min-height: 400px;
}
section#photos .tabs .arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 10px solid #95bfbd;
  top: -3px;
  -webkit-transform: rotate(180deg);
  /* Chrome and other webkit browsers */

  -moz-transform: rotate(180deg);
  /* FF */

  -o-transform: rotate(180deg);
  /* Opera */

  -ms-transform: rotate(180deg);
  /* IE9 */

  transform: rotate(180deg);
  transition: all 0.3s ease;
}
section#photos .tabs ul {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
section#photos .tabs ul li {
  font-weight: bold;
  /*color: rgb(212,212,212);*/

  color: ghostwhite;
  font-size: 24px;
  background-color: #294645;
  text-align: center;
  float: left;
  padding: 16px 0;
  box-sizing: border-box;
  display: inline-block;
  width: 25%;
}
section#photos .tabs ul li.active {
  border-bottom: 3px solid #95bfbd;
  color: ghostwhite;
}
section#photos .tabs ul {
  color: #000;
  text-decoration: none;
}
section#photos .tabs #tab-container {
  /*padding-top: 25px;*/

  position: relative;
  min-height: 600px;
  background-color: #3d3d3d;
  clear: both;
}
section#photos .tabs .tab-content {
  padding: 25px;
  display: none;
}
section#photo_form {
  text-align: center;
  background-color: #578c86;
  min-height: 400px;
  margin-top: -20px;
  padding: 50px;
}
section#photo_form h2.glyphicon_header {
  margin-left: 10px;
  margin-right: 10px;
  color: ghostwhite;
  display: inline-block;
}
section#photo_form h2 {
  color: ghostwhite;
  padding-top: 5px;
  display: inline-block;
}
section#photo_form h3 {
  margin-top: 15px;
  color: ghostwhite;
}
/* Footer Styling */
footer {
  height: 75px;
  background-color: #1d231f;
}
footer ul {
  list-style-type: none;
  margin-left: 75px;
}
footer ul li {
  display: inline-block;
  color: ghostwhite;
  padding-top: 28px;
}
footer ul li#contact_us {
  margin-right: 100px;
  display: inline-block;
  color: ghostwhite;
  padding-top: 28px;
}
footer ul li#contact_us a {
  color: ghostwhite;
}
